.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: none; /*App-logo-spin infinite 20s linear;*/
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-myRed{
  background-color: transparent;
  width: 150px;
  margin: 0;
}

.content{
  margin-top: 40px;
}

.img-fluid{
  width: 200px;
  padding: 8px;
}

.card-block{
  padding: 12px;
}

h2{
  color: #404041;
}

.img-good-bad{
  width: 22px;
}

/* Aquí empiezan los estilos personalizados */
.app-content {
  padding: 10px;
  background-color: transparent;
}

.bg-navbar-color {
  background-color: #c9cbcc;
}

.navbar-dark .navbar-nav .dropdown-item:hover {
  background-color: #e5e6e7;
}

.nav-link {
  color: rgb(161, 159, 159);
}

.active {
  font-weight: 500;
  color: rgb(90, 90, 90) !important;
}

.dropdown-item.active{
  background-color: rgb(69, 66, 250) !important;
  color: white !important;
}

.logo {
  margin: none;
  width: 220px;
}

.text-h1, .text-h2 {
  color: #444750;
}

table.table tr th {
  color: #4d4d4d;
}

.container {
  padding-top:0px;
}

th {
  cursor: pointer;
}

.homepage-image {
  background-color: transparent;
  
}



.background-container{
  width: 100%;
  height: 400px;
  position: relative;
}
.middle-shadow{
  width: 100%;
  height: 100%;            
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 4px 6px -6px #4d4d4d;
  -moz-box-shadow: 0 4px 6px -6px #464646;
  box-shadow: 0 4px 6px -6px #696969;
  z-index: -1;
}
.wallpaper{
  background: url(images/photo.jpg) center center no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  margin-top: 300px;
  height: 400px;
  background-size: 800px; /*this line ensures that the image width is 800px no matter the size of the uploaded image*/
  -o-background-size: contain;

  /* background: linear-gradient(to right, #54b4d5 0%, #3677b4 100%); */
  /* filter: brightness(50%); */
  opacity: 1;
}
.middle-shadow.top-box{
  background: linear-gradient(in oklab, rgb(252, 253, 255), rgb(243, 243, 243));
}


.qr-code{
  background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(images/bg_qr.jpg) no-repeat;
  background-size: cover;
  color: #4d4d4d;
}

.qr-code-name{
  font-size: 1.1em;
  font-weight: 400;
}

.qr-code-role{
  margin-top: -8px;
  font-size: 1em;
  font-weight: 200;
}

.qr-code-contact{
  margin-top: 7px;
  font-size: 0.85em;
  font-weight: 200;
  padding-bottom: 10px;
}

.qr-code-pitch{
  margin-top: 0px;
  padding: 30px;
  font-size: 1.7em;
  font-weight: 500;
  color: #276bb9;
}

.qr-code-pitc-sub{
  margin-top: 0px;
  padding: 0px 15px 0 15px;
  font-size: 1.2em;
  font-weight: 500;
  color: #5f5f5f;
}

.qr-code-hr{
  margin: 2rem 3rem 2rem 3rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.qr-code-hr2{
  margin: 2rem 8rem 2rem 8rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}